*{
    background-color: rgb(206,171,103);
    /* color: rgb(74,37,29); */
    justify-content: center;
    text-align: center;
    
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
h1{
    font-weight: bold;
    font-size: 100px;
    margin-top: 4rem;
    line-height: 0.5rem;
    color: rgb(74,37,29);
    
}

.head p{
    font-size: 80px;
    margin-top: 1.5rem;
    color: rgb(74,37,29);
}


.logo img{
    width: 38rem;
    align-items: center;
}  

.logo{
    text-align: center;
    color: rgb(74,37,29);
}

.icon p{
    font-weight: bold;
    font-size: 3rem;
    display: inline-block;
    color: rgb(74,37,29);
    

}
.add p{
    font-size: 1.3rem;
    color: rgb(74,37,29);
    
}

.add h2{
    text-align: center;
    justify-content: center;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(74,37,29);
    font-weight: bold;
}

i{
    font-size: 2.5rem;
    padding: 3px;
    display: flex;
    margin-left: 10px;
    color: rgb(74,37,29);
}

.image-product{
    /* width: 52rem */
    padding: 20px;
    
}

.con{
   padding-top: 40px;

}
.date{
    font-size: 2.5rem;
    color: rgb(74,37,29);
    margin-top:-50px
} 



@media (max-width: 1400px) {
    .icon p{
        font-size: 2.5rem;
    }
    i{
        font-size: 2.5rem;
    }
    .add p{
        font-size: 1.1rem;
    }
}

@media (max-width: 1000px) {
    .icon p{
        font-size: 1.5rem;
    }
    i{
        font-size: 2.5rem;
    }
    .add p{
        font-size: 1.1rem;
    }
}
@media only screen and (min-width:768px) and (max-width:1023.98px ) {
     h1{
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        margin-top: 1.5rem;
        line-height: 0.5rem;
        
    } 

    
    .head p{
        margin-top: 10px;
        font-size: 30px;
        text-align: center;
    }
    i{
        font-size: 1.3rem;
        padding: 3px;
        display: flex;
        margin-left: 6px;
    }
    .image-product{
        /* height:400px; */
        padding-top: 160px;
        /* padding-right: 10px; */
    }
    .con{
        padding-top: 80px;
     
     } 
     .date{
        font-size: 2.5rem;
        color: rgb(74,37,29);
        margin-top:-20px
    } 
    
}




@media only screen and (max-width: 767.98px) {
    .mb-logo-sz{
        width:100px;
        height:100px;
        padding-top: 10px;
    }

    h1{
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        margin-top: 1.5rem;
        line-height: 0.5rem;
        /* position: absolute; */
        
    }
    .head p{
        margin-top: 10px;
        font-size: 30px;
        text-align: center;
        margin-top: 1.5rem;

        /* position: absolute; */
    }
    i{
        font-size: 1rem;
        padding: 3px;
        display: flex;
        margin-left: 6px;
    }
    .column-rev{
        flex-direction: column-reverse;
    }
    .con{
        padding-top: 20px;
     
     } 
     .date{
        font-size: 2rem;
        color: rgb(74,37,29);
        margin-top:-20px
    } 
    
}
/* .box{
    height: 200px;
    
    background-color: black;
    border-radius: 50px 50px;
} */